
<div class="container">
    <h3>Customer Details from</h3>
     <form #regForm="ngForm" (ngSubmit)="regUser(regForm)">
    
     <div class="form-group">
        <input type="email" 
        class="form-control"
        ngModel
        id="email"
        name="email"
        #email="ngModel"
        placeholder="Enter the email"
        >
     </div>
     <div class="form-group">
        <input type="number" 
        class="form-control"
        ngModel
        id="phone"
        name="phone"
        #phone="ngModel"
        placeholder="Enter the phone"
        >
     </div>
   
    
     <button class="btn btn-primary" type="submit">Submit</button>
    
    </form>
    
    </div>