<div class="container">
<form #edits="ngForm" (ngSubmit)="staffedit(edits)">
    <div class="form-group">
      <input type="text" 
      class="form-control" 
      ngModel
      id="id"
      name="id"
      #id="ngModel"
      [(ngModel)]="selsectedstaff.id"
      >
    </div>
      <div class="form-group">
        <input type="text" 
        class="form-control" 
        ngModel
        id="name"
        name="name"
        #name="ngModel"
        [(ngModel)]="selsectedstaff.name"
        >
      </div>
      <div class="form-group">
        <input type="email" 
        class="form-control" 
        ngModel
        id="email"
        name="email"
        #email="ngModel"
        [(ngModel)]="selsectedstaff.email"
        >
      </div>
      <div class="form-group">
        <input type="text" 
        class="form-control" 
        ngModel
        id="role"
        name="role"
        #role="ngModel"
        [(ngModel)]="selsectedstaff.role"
        >
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>